.container {
  max-width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card {
  height: 30rem;
  width: 30rem;
}
.example-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}
